 /* Popup container */
.popup {
	visibility: hidden;
	
}

/* The actual popup (appears on top) */
.popup .popuptext {
    visibility: hidden;
    text-align: center;
    
    border-radius: 6px;
  	position: fixed;
    top: 50%;
    left: 50%;
    right: auto;
    bottom: auto;
}

/* Popup arrow */
.popup .popuptext::after {
  background-color: white;
  border-radius: 10px;
  display: none;
  transform: translate(-50%, -50%);
  z-index: 990;

}

/* Toggle this class when clicking on the popup container (hide and show the popup) */
.popupOK .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s
    
    color: #3c763d;
	background-color: #dff0d8;
	border-color: #d6e9c6;
	padding: 15px;
}

.popupFAIL .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s
    
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
	padding: 15px;
}

.close {
	padding-left: 2%;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
} 